@import '~bootstrap/scss/bootstrap';
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import '~resources/scss/partials/_footer.scss';
@import '~resources/scss/partials/_header.scss';
@import '~resources/scss/partials/_mixins.scss';
@import '~resources/scss/partials/_homepage.scss';
@import '~resources/scss/partials/_jumbo.scss';
@import '~resources/scss/partials/_create.scss';
@import '~resources/scss/partials/_singlecard.scss';
@import '~resources/scss/partials/_variables.scss';
@import '~resources/scss/partials/_addComic.scss';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



ul {
    list-style: none;
}