.col-but {
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
    height: 100px;

    .button {
        padding: 4em;
        background-color: #303030;
        @include justify_content_between;

    }

    .footer-button {
        @include button;

        &:hover {
            font-size: 15px;
            cursor: pointer;
            filter: brightness(1.2);
        }

    }
}